// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background: white;
}
.weather{
  margin-bottom: 20px;
}
.main{
  margin-top: 18%;
}
.city{
  margin-top: 20px;
}
